<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>View Schedule</title>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="{% static "css/theme.css" %}">
<link href="styles/style.css" rel="stylesheet" type="text/css">
    </head>


<script type="text/javascript">
	function ava(a){
		//var	b = true;
		var b = document.getElementById(a).innerText;
		
		if(b=="True"){
			document.getElementById(a).innerText = "Approved!";
		}
		if(b=="False"){
			document.getElementById(a).innerText = "Pending...";
		}
		//document.getElementById(a).innerText = "Approved!";
		//alert(document.getElementById(a).innerText);
	}

	    	
</script>


   <div class="text-center" style="padding:50px 0">
    <div class="logo">view schedule</div>
 <div class="login-form-1">
        <form id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
	
{% if availibility_list %}
	<ul>
	{% for availibility in availibility_list %}
		<li style="display:inline">{{availibility}}</li>
	    <li value="{{availibility.if_assigned}}" id="{{availibility.id}}" style="display:inline ; margin-left:10px">{{availibility.if_assigned}}</li>
	    <br>
	    <script type="text/javascript">
	    	ava({{availibility.id}});
	    </script>
	{% endfor %}
	</ul>
	
{% else %}
    <p>Not available.</p>
{% endif %}
           </div>
            </div>
            </div>  
       
</div>
 </form>
</div>

<center><a href= "{% url 'employee_schedule.views.main' %}">Back</a></center>

</html>