<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>New Message</title>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="{% static "css/theme.css" %}">
<link href="styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
          <div class="text-center" style="padding:20px 0">
    <div class="logo">new message</div>
<div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
     <center><p><p>Welcome {{ user }} <br> Today is {{ time }}</p></p></center>
    </div>
        </form>
    </div>
</div>
  <div class="text-center" style="padding:0px 0">
    <div class="login-form-1">
        <form id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
         <div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
       
        </div>
        </form>
        </div>
        {% if isprofiled %}
        <h1>Thank you for your message!</h1> </br>
        <a href="{% url 'message-index' %}">Back to Messages</a><br />
        {% else %}
        <h1>Write new message here!</h1><br />
        <form id="user_form" method="post" action="{% url 'message-new' %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ userprofileform.as_p }}
            <input type="submit" name="submit" value="Submit" />
        </form>
        <a href="{% url 'message-index' %}">Back to Messages </a>
        {% endif %}
        <br />
              </div>
            </div>
            </div>  
        </form>
</div>
</div>
        
    </body>
</html>